* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    direction: rtl;
    font-family: var(--font-vazirmatn), sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}
